.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1%
}

.matrix-area {
  flex: 0 0 48%;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
  background: #a7d4dfd0;
  border-radius: 3%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.input-area {
    flex: 0 0 23%;
    min-width: 287px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    border-radius: 3%;
    background: #cae8a7;  
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }


.history-area {
  flex: 0 0 23%;  
  min-width: 287px;
  background: #d1e1aabb;
  padding: 1%;
  border-radius: 3%;
  overflow-y: auto;
  min-height: 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}